@import '~@material/button/mdc-button';
@import '~@material/textfield/mdc-textfield';

.url-input {
    // background: #eee;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.url-input input {
    width: 100%;
    text-align: center
}

.center-contents {
    text-align: center
}