@import '@material/list/mdc-list';

.failed {
    color: #f44336;    
}

.done {
    color: #42A948;
}

li span.mdc-list-item__start-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
}